.sub {
    pointer-events: auto;
    grid-column: 1;
    grid-row: 1;
    text-align: left;
    padding-left: 0.1em;
    border-radius: 3px;
    color: whitesmoke;
    background-color: transparent;
}

.blank-container {
    pointer-events: none;
    display: inline-grid;
    margin: 1px;
    border-radius: 3px;
    background-color: transparent;
}

.blank {
    pointer-events: auto;
    color: transparent;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    border-radius: 3px;
    min-width: 5em;
}

.blank.correct{
    color: inherit !important;
}

.sub.correct {
    background-color: greenyellow !important;
}

.blank:hover {
    cursor: none;
    color: inherit !important;
}

.form-check {
    margin: auto;
    zoom: 1.5;
    transform: scale(1.5);
}

.checkbox-cell {
    vertical-align: middle !important;
}

.score {
    background-color: skyblue;
    text-align: center;
    padding: 0.5em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}