.blank {
    color: transparent;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    margin: 1px;
}

.blank:hover {
    cursor: none;
    color: inherit !important;
    text-decoration-line: 1px;
}

.form-check {
    margin: auto;
    zoom: 1.5;
    transform: scale(1.5);
}

.checkbox-cell {
    vertical-align: middle !important;
}
