.blank {
    border-radius: 3px;
}

.bestimmt {
    background-color: #66ff99;
    color: #66ff99;
}

.bestimmt:hover {
    background-color: #e6ffee;
}

.unbestimmt {
    background-color: #ff6666;
    color: #ff6666;
}

.unbestimmt:hover {
    background-color: #ffe6e6;
}

.blank:hover {
    cursor: none;
    color: #222222;
    text-decoration-line: 1px;
}
